/*
 * workshopstyle.css
 * Copyright (C) 2020 derrick cope
 *
 * Distributed under terms of the MIT license.
 */

html, body {
  font-family: Helvetica;
  font-size: 18px;
  height: 297mm;
  width: 210mm;
  line-height: 150%
}

h1 {
  font-family: Helvetica;
  font-size: 38px;
  font-weight: bold;
  /* text-align: center */
}

h3 {
  font-family: Helvetica;
  font-size: 28px;
}

a:link {
  color: blue }

footer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  left: 15%
}

img {
 width: 600px; 
 position: relative;
 margin-left: auto;
 margin-right: auto;
}
